* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.weather{
    width: 350px;
    height: 600px;
    border-radius: 10px;
    padding: 30px 20px;
    transition: 0.4s;
}

body.hot {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)),
		url(./img/hot.png) no-repeat center/cover;
}

body.hot .weather {
	background: url(./img/hot.png) no-repeat center/cover;
}

body.cool {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)),
		url(./img/cold.png) no-repeat center/cover;
}

body.cool .weather {
	background: url(./img/cold.png) no-repeat center/cover;
}


.search{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 20px;
    background: rgba(255,255,255,0.4);
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0 5px 4px rgb(0 0 0 / 20%);
    margin-bottom: 42px;
    font-size: 18px;
    transition: 0.4s;
} 

.search:focus {
    border-radius: unset;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgba(255,255,255,0.8);
}

.content{
    text-align: center;
    color: #fff;
    transition: 0.4s;
}

.time {
    font-size: 15px;
    margin-top: 8px;
}

.capital{
    text-shadow: 2px 2px rgb(0 0 0 / 50%);
}

.temperature {
    color: #fff;
    font-size: 65px;
    text-shadow: 4px 4px rgba(0,0,0,0.7);
    text-align: center;
    padding: 20px;
    background: rgba(255,255,255,0.6);
    border-radius: 15px;
    box-shadow: 2px 2px 0 2px rgb(0 0 0 / 50%);
    margin: 30px 20px 0;
}

.short-desc {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px rgba(0,0,0,0.7);
    text-align: center;
    margin-top: 32px;
}

.more-desc {
    display: flex;
    justify-content: space-around;
    margin-top: 46px;
    color: #fff;
}

.more-desc div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.more-desc div i {
    margin: 10px 0;
}

.hide {
    visibility: hidden;
    opacity: 0;
}